.contact-page {
  text-align: center;

  .contacts {
    justify-content: center;
    align-items: center;
    animation-name: slide-up-entering;
    animation-duration: 300ms;
    padding: 1rem 0;

    .contact-item {
      padding: 1rem;
      min-width: 18rem;
      border-style: solid;
      border-width: thin;
      border-color: rgba(255, 255, 255, 0.14);
      border-radius: 0.4rem;
      margin: 1rem 0;

      h4 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .contact-page {
    .contacts {
      flex-direction: row;

      .contact-item {
        width: 15rem;
        margin: 2rem 1rem;
      }
    }
  }
}
