.hamburger-menu {
  background-color: yellow;
  width: 100%;
  height: 70%;
  display: none;
  background: linear-gradient(
    170deg,
    rgba(2, 0, 36, 1) 24%,
    rgba(0, 78, 78, 0.534) 79%,
    rgba(0, 128, 128, 0.527) 100%
  );
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .nav-link {
      text-decoration: none;
      color: white;
      margin: 1rem 0;
      font-size: 1.4rem;
    }

    .nav-active {
      text-shadow: 0 0 1rem #f7ea9a;
      color: #f8d704;
    }
  }

  &.open {
    display: flex;
    position: absolute;
    z-index: 2;
    animation: swipe-down 300ms;
  }
}
