.not-found {
  align-items: center;
  justify-content: center;
  height: 60vh;

  &-img {
    height: 10rem;
    margin: 1rem;
  }

  &-text {
    margin: 1rem;
    text-align: center;
  }

  &-btn {
    margin: 1rem;
    color: white;

    &:visited {
      text-decoration: white;
    }
  }
}
