@import "./styles/navbar";
@import "./styles/main-page";
@import "./styles/footer";
@import "./styles/projects";
@import "./styles/contact";
@import "./styles/menu";
@import "./styles/notfound";

// COLORS
$mainFontColor: white;
$accentColor: #ff96ad;
$backgroundColor: linear-gradient(
  170deg,
  rgba(2, 0, 36, 1) 24%,
  rgb(0, 78, 78) 79%,
  rgb(0, 128, 128) 100%
);

// TYPOGRAPHY
$mainFont: "Barlow", sans-serif;
$letterSpacing: 0.6px;

//LAYOUT
$desktopHdpi: 1440px;
$mobile: 414px;

html {
  min-height: 100%;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: $mainFont;
    letter-spacing: $letterSpacing;
    color: $mainFontColor;
    font-weight: 300;
    margin: 0 auto;
    padding: 0;
    background: $backgroundColor;
    background-size: cover;
    background-attachment: fixed;

    .page-wrapper {
      padding: 1rem;
    }

    .flex-column {
      display: flex;
      flex-direction: column;
    }

    .flex-row {
      display: flex;
      flex-direction: row;
    }

    .hidden {
      display: none;
    }

    .active {
      text-shadow: 0 0 1rem #f7ea9a;
      color: #f8d704;
    }

    .text-no-decor {
      text-decoration: none;
      color: $mainFontColor;
    }
  }
}

@media screen and(max-width: 414px) {
  body {
    font-size: 16px;
  }
}

@media screen and(min-width: 768px) {
  body {
    font-size: 20px;
    max-width: 1440px;
    margin: 0 auto;
  }
}
